<html>
<head>
<title>Tim-Doerzbacher.com</title>
<link type="text/css" rel="stylesheet" href="{{ asset('bundles/timdoerzbacher/css/common.css') }}" />
<meta name="viewport" content="width=device-width" />

{% block stylesheets %}
<link type="text/css" rel="stylesheet" media="screen and (max-width: 800px)" href="{{ asset('bundles/timdoerzbacher/css/mobile.css') }}" />
<link type="text/css" rel="stylesheet" media="screen and (min-width: 801px)" href="{{ asset('bundles/timdoerzbacher/css/desktop.css') }}" />
<link type="text/css" rel="stylesheet" media="print" href="{{ asset('bundles/timdoerzbacher/css/print.css') }}" />
{% endblock %}
</head>
	
<body>
	<div id="main-container">

		<header>{% block header %}{% spaceless %}
			<a href="www.tim-doerzbacher.com"><img src="{{ asset('bundles/timdoerzbacher/img/header/logo.png') }}"
				alt="Tim-Doerzbacher.com logo" class="logo icon" /></a>			
		{% endspaceless %}{% endblock %}</header>
		
		<nav>
			<ul>
			{% for curr in pages|reverse %}
				<li><a href="{{ path('tim_doerzbacher_pages', {'page': curr}) }}"
					{% if curr == page %}
						class="current"
					{% endif %}>
						<img src="{{ asset('bundles/timdoerzbacher/img/nav/' ~ curr ~ '.svg') }}" />
					{{ curr|capitalize }}</a>
					<div class="label">
						{{ page|capitalize }}
					</div>
				</li>	
			{% endfor %}
			</ul>
		</nav>
		
		<div id="content">{% block content_wrapper %}
			<h1>{% block headline %}
				{{ page|capitalize }}
			{% endblock %}</h1>
			
			{% block content %}
			
			{% endblock %}
			
		{% endblock %}</div>
		
		
		<div id="bottom-hr"></div>
		<footer>{% block footer%}
			&copy; 
			{% set current_year = "now"|date('Y') %}
			{% if current_year > 2014 %}
				2014-{{ current_year }}
			{% else %}
				{{ current_year }}
			{% endif %}
			&mdash; Tim Doerzbacher
		{% endblock %}</footer>
		
	</div>
</body>
</html>
