{% extends "TimDoerzbacherBundle:Default:base.html.twig" %}

{# -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- #}

{% block stylesheets %}
{{ parent() }}
<link type="text/css" rel="stylesheet" media="screen" href="{{ asset('bundles/timdoerzbacher/css/links.css') }}" />
{% endblock %}

{# -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- #}

{% block headline %}
	Other Sites I Find Interesting
{% endblock %}
			
{# -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- #}

{% block content %}

<blockquote>I'm slowly adding links as I see fit. Bear with me.</blockquote>

{% for category in links %}
	<h2>{{ category.name }}</h2>

	<ul class="links">{% for curr_link in category['links'] %}
	
		<li>
			<a href="{{ curr_link.href }}">{% spaceless %}
				<div class="title">{{ curr_link.name }}</div>
				
				<div class="background">{% if curr_link.background is not null %}
					<img src="{{ 
							asset('bundles/timdoerzbacher/img/links/') ~ curr_link.background 
						}}" alt="Background image" />
				{% endif %}</div>
				
				
				{% if curr_link.description is defined %}
					<div class="description">{{ curr_link.description }}</div>
				{% endif %}
			{% endspaceless %}</a>
			
		</li>
		
	{% endfor %}<div class="clear-both"></div></ul>
{% endfor %}

<div class="fair-use">
	<b>Fair Use Notice: </b>
	The above are all croppings of screenshots from the websites linked. 
	All rights belong to their respective owners.
</div>


{% endblock %}
