{% extends "TimDoerzbacherBundle:Default:base.html.twig" %}

{# -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- #}

{% block stylesheets %}
{{ parent() }}
<link type="text/css" rel="stylesheet" href="{{ asset('bundles/timdoerzbacher/css/resume.css') }}" />
{% endblock %}

{# -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- #}

{% block headline %}
	An Overview of What I Know
	<!--  Interested in hiring and reading source code? Nice... --> 
{% endblock %}

{# -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- #}

{% macro experience(info) %}
	<div class="experience">
		<div class="duration">{{ info.started }} &mdash;
			{% if info.ended is null %}Present {% else %} {{ info.ended }}{% endif %} 
		</div>
		<h3>{{ info.name }}</h3>
		<div class="description">{{ info.description }}</div>
		<ul>
			<li>Lorem <ul><li>a</li><li>b </li></ul>
			</li>
			<li>Ipsum</li>
		</ul>
	</div>
{% endmacro %}

{% import _self as resume %}

{# -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- #}

{% block content %}

	<blockquote>
		<p>Under construction.</p>
		<p>But safe to assume I know everything. I don't yet, but I learn real fast.</p>
	</blockquote>
	
	<div class="section skillsets">
		<h2>What I Can Do</h2>

		<div class="sub-section">
			<h3>Operating Systems</h3>
			<ul class="operating-systems">{% for os in operating_systems %}
				<li>{{ os.name }}</li>
			{% endfor %}</ul>
		</div>
		
		<div class="sub-section">
			<h3>Skills</h3>
			<ul class="skills">{% for skill in skills %}
				<li>{{ skill.name }}</li>
			{% endfor %}</ul>
		</div>

		<div class="sub-section">
			<h3>Languages</h3>
			<ul class="languages">{% for os in languages %}
				<li>{{ os.name }}</li>
			{% endfor %}</ul>
		</div>
		
		
		<div class="sub-section">
			<h3>Software &amp; Tools</h3>
			<ul class="tools">{% for tool in tools %}
				<li>{{ tool.name }}</li>
			{% endfor %}</ul>
		</div>
		
		<div class="clear-both"></div>
		
	</div>
	
	<div class="section experiences">
		<h2>Where I've Worked</h2>
		{% for curr in experiences %}
			{{  resume.experience(curr) }}
		{% endfor %}
	</div>
		
	<div class="section references">
		References available upon request.
	</div>

{% endblock %}