<!DOCTYPE html>
{% macro navbar_item(page, PAGE) %}
	<li {% if page == PAGE %}class="active"{% endif %}>
		<a href="{{ page }}">{{page}}</a>
	</li>
{% endmacro %}
<html lang="en">
	<head>
		<meta charset="UTF-8" />

		<title>{% block title %}tim-doerzbacher.com &mdash; Proud owner of a robot{% endblock %}</title>
		<meta name="description" content="Personal website for Tim Doerzbacher">
  	<meta name="author" content="Tim Doerzbacher">

		<!-- Stylesheet(s) -->
		{% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
			<link rel="stylesheet" href="{{ asset('css/font-awesome.css') }}">
			<link rel="stylesheet" href="{{ asset('css/style.css') }}">
		{% endblock %}
		<!-- / Stylesheet(s) -->

		<!-- Favicon info -->
			<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
		<!-- / Favicon info -->
	</head>
	<body>
		{% block header %}
		<header>
			<nav class="navbar navbar-main navbar-fixed-top">
				<div class="container-fluid">

					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navigation" aria-expanded="false">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="{{ path('pages') }}">
							<img alt="tim-doerzbacher.com" src="{{ asset('img/icons/my-logo.svg') }}">
						</a>
					</div>

					<div class="collapse navbar-collapse" id="main-navigation">
						<ul class="nav navbar-nav">
							{% for curr in ALL_PAGES %}
								{{ _self.navbar_item(curr, PAGE) }}
							{% endfor %}
						</ul>
					</div>
				</div>
			</nav>
		</header>
		{% endblock %}

		<main>{% block body %}{% endblock %}</main>

		{% block footer %}
		<footer class="footer-main">
			<p>&copy; 2015 Tim Doerzbacher &mdash; All Rights Reserved</p>
		</footer>
		{% endblock %}

		{% block scripts %}
			{% if app.environment == 'dev' %}
				<script src="{{ asset('js/jquery.js') }}"></script>
				<script src="{{ asset('js/bootstrap.js') }}"></script>
			{% else %}
				<script src="{{ asset('js/jquery.min.js') }}"></script>
				<script src="{{ asset('js/bootstrap.min.js') }}"></script>
			{% endif %}

			<script type="text/javascript">
				$(function () {
					$('[data-toggle="popover"]').popover()
				})
			</script>

		{% endblock %}
	</body>
</html>
