<!DOCTYPE html>
{% macro navbar_item(page, PAGE) %}
	<li {% if page == PAGE %}class="active"{% endif %}>
		<a href="{{ page }}">{{page}}</a>
	</li>
{% endmacro %}
<html lang="en">
	<head>
		<meta charset="UTF-8" />

		<title>{% block title %}tim-doerzbacher.com &mdash; Proud owner of a robot{% endblock %}</title>
		<meta name="description" content="Personal website for Tim Doerzbacher">
  	<meta name="author" content="Tim Doerzbacher">

		<link rel="apple-touch-icon" sizes="57x57" href="{{ asset('apple-touch-icon-57x57.png') }}">
		<link rel="apple-touch-icon" sizes="60x60" href="{{ asset('apple-touch-icon-60x60.png') }}">
		<link rel="apple-touch-icon" sizes="72x72" href="{{ asset('apple-touch-icon-72x72.png') }}">
		<link rel="apple-touch-icon" sizes="76x76" href="{{ asset('apple-touch-icon-76x76.png') }}">
		<link rel="apple-touch-icon" sizes="114x114" href="{{ asset('apple-touch-icon-114x114.png') }}">
		<link rel="apple-touch-icon" sizes="120x120" href="{{ asset('apple-touch-icon-120x120.png') }}">
		<link rel="apple-touch-icon" sizes="144x144" href="{{ asset('apple-touch-icon-144x144.png') }}">
		<link rel="apple-touch-icon" sizes="152x152" href="{{ asset('apple-touch-icon-152x152.png') }}">
		<link rel="apple-touch-icon" sizes="180x180" href="{{ asset('apple-touch-icon-180x180.png') }}">
		<link rel="icon" type="image/png" href="{{ asset('favicon-32x32.png') }}" sizes="32x32">
		<link rel="icon" type="image/png" href="{{ asset('favicon-194x194.png') }}" sizes="194x194">
		<link rel="icon" type="image/png" href="{{ asset('favicon-96x96.png') }}" sizes="96x96">
		<link rel="icon" type="image/png" href="{{ asset('android-chrome-192x192.png') }}" sizes="192x192">
		<link rel="icon" type="image/png" href="{{ asset('favicon-16x16.png') }}" sizes="16x16">
		<link rel="manifest" href="{{ asset('manifest.json') }}">
		<link rel="mask-icon" href="{{ asset('safari-pinned-tab.svg') }}" color="#006699">
		<link rel="shortcut icon" href="{{ asset('favicon.ico') }}">
		<meta name="apple-mobile-web-app-title" content="tim-doerzbacher.com">
		<meta name="application-name" content="tim-doerzbacher.com">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="msapplication-TileImage" content="{{ asset('mstile-144x144.png') }}">
		<meta name="msapplication-config" content="{{ asset('browserconfig.xml') }}">
		<meta name="theme-color" content="#ffffff">

		<meta name="viewport" content="width=device-width" />

		<!-- Stylesheet(s) -->
		{% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
			<link rel="stylesheet" href="{{ asset('css/font-awesome.css') }}">
			<link rel="stylesheet" href="{{ asset('css/style.css') }}">
			<link rel="stylesheet" href="{{ asset('css/print.css') }}" media="print">
		{% endblock %}
		<!-- / Stylesheet(s) -->

		<!-- Favicon info -->
			<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
		<!-- / Favicon info -->
	</head>
	<body>
		{% block header %}
		<header class="header-main">
			<nav class="navbar navbar-main navbar-fixed-top">
				<div class="container-fluid">

					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navigation" aria-expanded="false">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="{{ path('pages') }}">
							<img alt="tim-doerzbacher.com" src="{{ asset('img/icons/my-logo.svg') }}">
						</a>
					</div>

					<div class="collapse navbar-collapse" id="main-navigation">
						<ul class="nav navbar-nav">
							{% for curr in ALL_PAGES %}
								{{ _self.navbar_item(curr, PAGE) }}
							{% endfor %}
						</ul>
					</div>
				</div>
			</nav>
		</header>
		{% endblock %}

		<main>{% block body %}{% endblock %}</main>

		{% block footer %}
		<footer class="footer-main">
			<p>&copy; 2015 Tim Doerzbacher &mdash; All Rights Reserved</p>
		</footer>
		{% endblock %}

		{% block scripts %}
			{% if app.environment == 'dev' %}
				<script src="{{ asset('js/jquery.js') }}"></script>
				<script src="{{ asset('js/bootstrap.js') }}"></script>
			{% else %}
				<script src="{{ asset('js/jquery.min.js') }}"></script>
				<script src="{{ asset('js/bootstrap.min.js') }}"></script>
			{% endif %}

			<script type="text/javascript">
				$(function () {
					$('[data-toggle="popover"]').popover()
				})
			</script>

		{% endblock %}
	</body>
</html>
