{% extends 'base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('css/home.css') }}">
{% endblock %}

{% block body %}
<div class="jumbotron">
	<div class="container">
		<h1>Why, hello.</h1>

		<p>
			Oh, my... you've found me and my virtual home on&nbsp;the&nbsp;internet.
		</p>

		<p>
			This site is ostensibly a website designed as a web based portfolio,
			but it's likely going to devolve into a showcase of
			<a href="catpoo">robot project</a> or time lapse videos of
			mundane scenarios.
		</p>

	</div>
</div>

<main>

	<div class="container">
		<section class="row">
			<div class="col-xs-12 col-md-5">
				<header class="section_header row">
					<img class="section_icon" src="{{ asset('img/icons/catpoo.svg') }}">
					<h2 class="section_title">
						Cat Antagonizing Tactical Platform of&nbsp;Oppression
					</h2>
				</header>
			</div>

			<div class="section_description col-xs-12 col-md-7">
				<p>
					Back when I was a young kid, I always wanted to build a robot. I never
					managed to talk my parents into giving me thousands and thousands of
					dollars to fund my research. It was a difficult time.
				</p>

				<p>
					Fast forward 20 years, I have a career and the necessary income. I also
					have cats. The decision was made before I even thought of what to do:
					build a device to terrorize my cats.
				</p>

			</div>

			<div class="section_more-info">
				<a class="btn btn-primary btn-lg" href="catpoo" role="button">Learn more</a>
			</div>


		</section>

		<hr>

		<section class="row">
			<div class="col-xs-12 col-md-5">
				<header class="section_header row">
					<img class="section_icon" src="{{ asset('img/icons/resume.svg') }}">
					<h2 class="section_title">R&eacute;sum&eacute;</h2>
				</header>
			</div>

			<div class="section_description col-xs-12 col-md-7">
				<p>
					Whenever someone wants to know something about me, I'm tempted to provide
					this link...
				</p>

				<p>
					Whether you found my page on
					<a href="http://www.linkedin.com/pub/tim-doerzbacher/86/438/664/"
						 target="_blank">LinkedIn</a> or
					<a href="#joke"
						 data-toggle="popover" data-placement="bottom"
						 title="This was a joke" data-trigger="hover click"
						 data-content="You were expecting a functional link? I'm flattered, but let's keep things professional.">OkCupid</a>,
					we all know this is why you're here.
				</p>

			</div>

			<div class="section_more-info">
				<a class="btn btn-primary btn-lg" href="catpoo" role="button">Learn more</a>
			</div>

		</section>

		<hr>

		<section class="row">
			<div class="col-xs-12 col-md-5">
				<header>
					<img class="section_icon" src="{{ asset('img/icons/artwork.svg') }}">
					<h2 class="section_title">Artwork</h2>
				</header>
			</div>

			<div class="section_description col-xs-12 col-md-7">
				<p>
					I went to art school because I wanted to make video games. I wanted to
					do it all from the models or the engine.
				</p>

				<p>
					Now I occasionally make artwork to try to justify the student loan.
				</p>

			</div>

			<div class="section_more-info">
				<a class="btn btn-primary btn-lg" href="catpoo" role="button">Learn more</a>
			</div>

		</section>
	</div>

</main>

{% endblock %}

