{% extends 'base.html.twig' %}

{# -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- #}

{% block scripts %}
{{ parent() }}
<script type="text/javascript" src="{{ asset('js/resume.js') }}"></script>
{% endblock %}

{# -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- #}

{% block stylesheets %}
{{ parent() }}
<link type="text/css" rel="stylesheet" href="{{ asset('css/resume.css') }}" />
{% endblock %}

{# -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- #}

{% macro skill(info, classes) %}

	{% if info.level == 1 %}
		{% set icon_title = 'Used it before' %}
		{% set icon_class = 'fa-battery-0 text-muted' %}
	{% elseif info.level == 2 %}
		{% set icon_title = 'I know enough to be dangerous' %}
		{% set icon_class = 'fa-battery-1 text-danger' %}
	{% elseif info.level == 3 %}
		{% set icon_title = 'I know enough not to be dangerous' %}
		{% set icon_class = 'fa-battery-2 text-warning' %}
	{% elseif info.level == 4 %}
		{% set icon_title = 'Comfortable with it' %}
		{% set icon_class = 'fa-battery-3 text-success' %}
	{% elseif info.level == 5 %}
		{% set icon_title = 'Feeling pretty confident' %}
		{% set icon_class = 'fa-battery-4 text-info' %}
	{% else %}
		{% set icon_title = 'bad value' %}
		{% set icon_class = 'fa-warning' %}
	{% endif %}

	<li class="col-xs-6 col-sm-4 col-md-3"
			 title="{{ icon_title }}">{% spaceless %}
		<i class="resume_section_list-icon fa {{ icon_class }}"></i>
		{{ info.name }}

	{% endspaceless %}</li>
{% endmacro %}

{# -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- #}

{% macro experience(info) %}
	<div class="row">
		<div class="resume_section_dates col-xs-12 col-sm-2">{{ info.started }} &mdash;
			{% if info.ended is null %}Present {% else %} {{ info.ended }}{% endif %}
		</div>
		<div class="col-xs-12 col-sm-10">
			<h3 class="resume_section_header">{{ info.name }}</h3>
			<h4 class="resume_section_subhead">{{ info.description }}</h4>
			<ul class="resume_section_list">{% for currPoint in info.experiencePoints %}

				<li class="resume_section_list-item">{{ currPoint.description }}
					<ul class="resume_section_list">{% for currNote in currPoint.children %}
						<li class="resume_section_list-item">{{ currNote.description }}</li>
					{% endfor %}</ul>
				</li>
			{% endfor %}</ul>
		</div>
	</div>
{% endmacro %}

{% import _self as resume %}

{# -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- #}

{% block body %}

<div class="container">

	<article class="resume">

		<section class="resume_section resume_section_intro">
			<p>{{ key_values.introcopy }}</p>
		</section>

		<section class="resume_section resume_section_contact">
			<h2 class="resume_section_title">Contact Info</h2>
			<div class="row">
				<div class="phone-number col-xs-12 col-md-4">
					<a class="spam-prevention" href="tel:+1-412-758-0179">{{ key_values.phone_number | raw }}</a>
				</div>
				<div class="address col-xs-12 col-md-4">
					<address class="spam-prevention">
						{{ key_values.address }}<br />
						{{ key_values.city }}, {{ key_values.state }} {{ key_values.zip }}
					</address>
				</div>
				<div class="email-address col-xs-12 col-md-4">
					<a href="email:{{ key_values.email | raw }}" class="spam-prevention">
						{{ key_values.email | raw }}
					</a>
				</div>
			</div>
		</section>

		<section class="resume_section">
			<h2 class="resume_section_title">What I Can Do</h2>

			<p>
				Here's an annotated list of software, languages, and so forth
				that I've used. The battery icons indicate my level of comfort
				with a particular item. They correlate very closely with how
				long I've been using them. Except ejabberd. I'll never be
				comfortable using that on a day to day basis due to the high
				risk of self-defenestration after prolonged exposure.
			</p>

			<div>
				<div class="resume_section_list-container">
					<h3>Software &amp; Tools</h3>
					<div class="container">
						<ul class="list-unstyled row">{% for tool in tools %}
							{{ resume.skill(tool) }}
						{% endfor %}</ul>
					</div>
				</div>

				<div class="resume_section_list-container">
					<h3>Languages</h3>
					<div class="container">
						<ul class="list-unstyled row">{% for language in languages %}
							{{ resume.skill(language) }}
						{% endfor %}</ul>
					</div>
				</div>

				<div class="resume_section_list-container">
					<h3>Skills</h3>
					<div class="container">
						<ul class="list-unstyled row">{% for skill in skills %}
							{{ resume.skill(skill) }}
						{% endfor %}</ul>
					</div>
				</div>

				<div class="resume_section_list-container">
					<h3>Operating Systems</h3>
					<div class="container">
						<ul class="list-unstyled row">{% for os in operating_systems %}
							{{ resume.skill(os) }}
						{% endfor %}</ul>
					</div>
				</div>

			</div>

		</section>

		<section class="resume_section resume_section_xp">
			<h2 class="resume_section_title">Where I've Worked</h2>

			<div class="container">
				{% for curr in experiences %}
					{{ resume.experience(curr) }}
				{% endfor %}
			</div>

			<br>
		</section>

		<section class="resume_section">
			<h2 class="resume_section_title">Education</h2>

			<div class="container">
				<div class="row">
					<div class="resume_section_dates col-xs-12 col-sm-2">2005 &mdash; 2009 </div>
					<div class="col-xs-12 col-sm-10">
						<h3 class="resume_section_header">Art Institute of Pittsburgh</h3>
						<h4 class="resume_section_subhead">Graduated with Bachelor degree in Graphic Design</h4>
					</div>
				</div>
			</div>
		</section>

		<section class="resume_section resume_section--last">
			<h2 class="resume_section_title">References</h2>
			References available upon request.
		</section>

	</article>
</div>

{% endblock %}
